*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.text-primary {
  color: #FD6E0A;
}

.btn-primary {
  height: 64px;
  background: #FD6E0A;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  padding: 18px 35px;
}

/* header and navigation styles */

.header {
  background: #FFF8F3;
  background-image: url(/images/header_bg.png) , url(/images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}

/* banner styles */

.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}

.banner-intro {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}

.banner-title {
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}

.banner-sub {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

/* Main Section Style */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* About Section Style */

.about-me {
  margin-top: 131px;
  background: #FFF8F3;
  border-radius: 10px;
  padding: 131px 157px;
  text-align: center;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  color: #181818;
  font-size: 35px;
}

.section-description {
  color: #757575;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}

.about-info-container {
  display: flex;
  line-height: 30px;
  justify-content: space-around;
  margin-top: 21px;
}

.about-info .info-title{
  font-size: 20px;
  color: #757575;
}

.about-info .info-description {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
}

/* What I Do Styles */

.what-i-do {
  text-align: center;
  margin: 130px 150px 50px;
}

/* Skill Styles */

.skills-container {
  display: flex;
  text-align: left;
  
}

.skills-container .skill {
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  width: 267px;
  padding: 30px 33px 30px;
}

.skills-container .skill-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.skills-container .skill-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575; 
}

.resume .section-title {
  margin-top: 130px;
  margin-bottom: 113px;
}

.edu-exp {
  display: flex;
}

.education {
  margin-right: 71px;
}

.edu-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #474747;
}

.edu-details {
  width: 511px;
  height: 175px;
  margin-top: 30px;
}

.edu-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: #474747;
}

.edu-year {
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #757575;
}

.edu-description {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}


.exp-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #474747;
}

.exp-details {
  width: 511px;
  height: 175px;
  margin-top: 30px;
}

.exp-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: #474747;
}

.exp-year {
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #757575;
}

.exp-description {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

.line{
  margin-top: 30px;
  color: #D1D1D1;
  
}

.resume-btn {
  margin-top: 50px;
  text-align: center;
  
}



.contact{
  background-color: #FFF8F3;
  height: 450px;
  
}

.contact .contact-elements {
  display: flex;
  align-items: center;
}

.contact .section-title {
  text-align: left;
  margin: auto;
}

